{% load static %}
<div class="container-fluid pt-4">
    <h6 class="text-center py-2 mx-3" style="background-color: rgb(204, 4, 97); color: white;">WEDSITE ADMINISTRATOR'S PROFILE</h6>
    <div class="row pt-4">
      <div class="col-12 col-md-4 mx-auto my-2">
        <div class="card rounded  mx-auto shadow" style="width: 18rem;">
          <img class="card-img-top" src="{% static 'img/principal_300x300.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Engr. Md. Aktaruzzaman</h5>
            <p class="card-text">Principal <br> Phone : 88063163598</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 my-2">
        <div class="card rounded mx-auto shadow" style="width: 18rem;">
          <img class="card-img-top" src="{% static 'img/ci-com.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Md. Mazharul Amin</h5>
            <p class="card-text">Head of Computer Department <br> Phone : 01717085770</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 my-2">
        <div class="card rounded mx-auto shadow" style="width: 18rem;">
          <img class="card-img-top" src="{% static 'img/no_image_300x300.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Md.X</h5>
            <p class="card-text">Head of X Department <br> Phone : 017xxxxxxxx</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  