
{% include 'style.html' %}

  <div class="container-fluid py-3">
    <div class="parallax py-3 mx-3">
    <div class="row mx-auto px-3">
    <div class="col-12 col-md-6 col-lg-6 pt-5">
      <h5 class="text-center pt-5" style="color: white; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);">COMPLAINT BOX <br> <small style="font-size: 12px;">(Tell your complaint without login)</small></h5> 
      {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
      {% endif %}
    </div>
    <div class="col-12 col-md-6 col-lg-6 pt-5">
      <form action="" method="POST">
          {% csrf_token %}
        <label class="contact" for="fname">Subject</label>
        <input type="text" id="fname" name="subject" placeholder="Write subject....." required>   
        <label class="contact" for="subject">Description</label>
        <textarea id="subject" name="description" placeholder="Write description.." style="height:200px" required></textarea>
        <input class="btn btn-dark col-12" type="submit" value="Submit">
      </form>
    </div>
    </div>
  </div>
  </div>