{% extends 'base.html' %}

{% block content %}



<div class="container-fluid my-5 ">
    {% for post in teacher_staff %}

    <h5 class="text-center">Teacher Profile ({{post.department_name}})</h5>
    <hr>
    {% endfor %}
    <div class="row">
        {% for post in teachers_staffs %}
        <div class="col-12 col-md-4 mx-auto">
            <div class="card my-4 mx-auto shadow" style="width: 300px;">
                <img class="card-img-top " src="{{post.image.url}}" style="height: 300px; width: 300px;"  alt="">
                <div class="card-body">
                    <h6 class="card-title">{{post.teacher_name}}</h6>
                    <p class="card-text">{{post.job_possition}}</p>
                    <p class="card-text">{{post.phone}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}